/* Section */
.popular-section {
  width: 100%;
  padding: 60px 20px;
  background: #fff;
}

/* Container */
.popular-container {
  padding: 10px;
  max-width: 1700px;
  margin: 0 auto;
}

/* Heading */
.popular-heading {
  padding-top: 23px;
  text-align: left;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Grid */
.popular-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  width: 100%;
}

/* Card */
.popular-card {
  text-align: left;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.popular-card:hover {
  transform: translateY(-3px);
}

/* Image */
.popular-img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 0;
  display: block;
}

/* Title */
.popular-title {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  text-align: left;
}

/* Responsive */
@media (max-width: 1200px) {
  .popular-container {
    max-width: 95%;
    padding: 0px;
  }
}

@media (max-width: 992px) {
  .popular-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .popular-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .popular-heading {
    font-size: 22px;
    text-align: center;
  }

  .popular-img {
    aspect-ratio: 3 / 4;
  }
}
